# Import Dependencies

In [1]:
import pandas as pd
import io, os, sys, types
from IPython import get_ipython
from IPython.display import display, Javascript, HTML
import json
import pandas as pd 
%matplotlib inline
import matplotlib.pyplot as plt
import seaborn as sns
import pandas as pd
import numpy as np
import datetime
# from scipy.stats import sem
import os
import pylab 
import scipy.stats as stats
import matplotlib as mpl

plt.style.use('ggplot')
%matplotlib inline
# import DataProcessor as dp

# Hide warning messages in notebook
import warnings
warnings.filterwarnings('ignore')

from config import api_key
from sqlalchemy import create_engine
import psycopg2

In [2]:
#Import CSV File
df_suicide_rates_data = pd.read_csv("../Data/Suicide_Rates_Data.csv")

df_suicide_rates_data.head()

,ID,country,year,sex,age,suicides_no,population,suicideshundredk,country_year,HDIforyear,gdp_for_year,gdp_per_capita,generation
0,1,Albania,1987,male,15-24 years,21,312900,6.71,Albania1987,NaN,2156624900,796,Generation X
1,2,Albania,1987,male,35-54 years,16,308000,5.19,Albania1987,NaN,2156624900,796,Silent
2,3,Albania,1987,female,15-24 years,14,289700,4.83,Albania1987,NaN,2156624900,796,Generation X
3,4,Albania,1987,male,75+ years,1,21800,4.59,Albania1987,NaN,2156624900,796,G.I. Generation
4,5,Albania,1987,male,25-34 years,9,274300,3.28,Albania1987,NaN,2156624900,796,Boomers

In [3]:
#Remove columns that we will not be using 
df_suicide_rates_data_new = df_suicide_rates_data
df_suicide_rates_data_new= df_suicide_rates_data_new.drop(['HDIforyear', 'population', 'suicideshundredk', 'country_year'], axis=1)
df_suicide_rates_data_new.head()

,ID,country,year,sex,age,suicides_no,gdp_for_year,gdp_per_capita,generation
0,1,Albania,1987,male,15-24 years,21,2156624900,796,Generation X
1,2,Albania,1987,male,35-54 years,16,2156624900,796,Silent
2,3,Albania,1987,female,15-24 years,14,2156624900,796,Generation X
3,4,Albania,1987,male,75+ years,1,2156624900,796,G.I. Generation
4,5,Albania,1987,male,25-34 years,9,2156624900,796,Boomers

In [5]:
# removing zeros from the suicides_no
df_suicide_rates_data_new = df_suicide_rates_data_new[df_suicide_rates_data_new.suicides_no != 0]
df_suicide_rates_data_new.head()

,ID,country,year,sex,age,suicides_no,gdp_for_year,gdp_per_capita,generation
0,1,Albania,1987,male,15-24 years,21,2156624900,796,Generation X
1,2,Albania,1987,male,35-54 years,16,2156624900,796,Silent
2,3,Albania,1987,female,15-24 years,14,2156624900,796,Generation X
3,4,Albania,1987,male,75+ years,1,2156624900,796,G.I. Generation
4,5,Albania,1987,male,25-34 years,9,2156624900,796,Boomers

In [6]:
df_suicide_rates_data_new.count()

ID                23539
country           23539
year              23539
sex               23539
age               23539
suicides_no       23539
 gdp_for_year     23539
gdp_per_capita    23539
generation        23539
dtype: int64

In [16]:
#making a connection to the database 
rds_connection_string = "postgres:" + api_key + "@localhost:5432/suicide_rates_overview_db"
rds_connection_string

'postgres:Happytoujours34@localhost:5432/suicide_rates_overview_db'

In [18]:
engine = create_engine(f'postgresql://{rds_connection_string}')
engine

Engine(postgresql://postgres:***@localhost:5432/suicide_rates_overview_db)

In [19]:
engine.table_names()

['suicide_rates_db', 'suicides_rates_db']

In [21]:
df_suicide_rates_data_new.to_sql('suicides_rates_db', engine, if_exists='append')

In [23]:

pd.read_sql_query('select * from suicides_rates_db', con=engine)

,index,ID,country,year,sex,age,suicides_no,gdp_for_year,gdp_per_capita,generation
0,0,1,Albania,1987,male,15-24 years,21,2156624900,796,Generation X
1,1,2,Albania,1987,male,35-54 years,16,2156624900,796,Silent
2,2,3,Albania,1987,female,15-24 years,14,2156624900,796,Generation X
3,3,4,Albania,1987,male,75+ years,1,2156624900,796,G.I. Generation
4,4,5,Albania,1987,male,25-34 years,9,2156624900,796,Boomers
5,5,6,Albania,1987,female,75+ years,1,2156624900,796,G.I. Generation
6,6,7,Albania,1987,female,35-54 years,6,2156624900,796,Silent
7,7,8,Albania,1987,female,25-34 years,4,2156624900,796,Boomers
8,8,9,Albania,1987,male,55-74 years,1,2156624900,796,G.I. Generation
9,12,13,Albania,1988,female,75+ years,2,2126000000,769,G.I. Generation
10,13,14,Albania,1988,male,15-24 years,17,2126000000,769,Generation X
11,14,15,Albania,1988,male,75+ years,1,2126000000,769,G.I. Generation
12,15,16,Albania,1988,male,35-54 years,14,2126000000,769,Silent
13,16,17,Albania,1988,male,55-74 years,4,2126000000,769,G.I. Generation
14,17,18,Albania,1988,female,15-24 years,8,2126000000,769,Generation X
15,18,19,Albania,1988,female,55-74 years,3,2126000000,769,G.I. Generation
16,19,20,Albania,1988,female,25-34 years,5,2126000000,769,Boomers
17,20,21,Albania,1988,male,25-34 years,5,2126000000,769,Boomers
18,21,22,Albania,1988,female,35-54 years,4,2126000000,769,Silent
19,24,25,Albania,1989,male,75+ years,2,2335124988,833,G.I. Generation
20,25,26,Albania,1989,male,25-34 years,18,2335124988,833,Boomers
21,26,27,Albania,1989,male,35-54 years,15,2335124988,833,Silent
22,27,28,Albania,1989,male,55-74 years,6,2335124988,833,G.I. Generation
23,28,29,Albania,1989,male,15-24 years,12,2335124988,833,Generation X
24,29,30,Albania,1989,female,35-54 years,7,2335124988,833,Silent
25,30,31,Albania,1989,female,15-24 years,5,2335124988,833,Generation X
26,31,32,Albania,1989,female,25-34 years,2,2335124988,833,Boomers
27,32,33,Albania,1989,female,55-74 years,1,2335124988,833,G.I. Generation
28,36,37,Albania,1992,male,35-54 years,12,709452584,251,Boomers
29,37,38,Albania,1992,male,15-24 years,9,709452584,251,Generation X
...,...,...,...,...,...,...,...,...,...,...
47046,27790,27791,Uzbekistan,2012,female,25-34 years,148,51821573338,1964,Millenials
47047,27791,27792,Uzbekistan,2012,female,35-54 years,89,51821573338,1964,Generation X
47048,27792,27793,Uzbekistan,2012,male,5-14 years,67,51821573338,1964,Generation Z
47049,27793,27794,Uzbekistan,2012,female,55-74 years,25,51821573338,1964,Boomers
47050,27794,27795,Uzbekistan,2012,female,75+ years,4,51821573338,1964,Silent
47051,27795,27796,Uzbekistan,2012,female,5-14 years,16,51821573338,1964,Generation Z
47052,27796,27797,Uzbekistan,2013,male,35-54 years,481,57690453461,2150,Generation X
47053,27797,27798,Uzbekistan,2013,male,25-34 years,328,57690453461,2150,Millenials
47054,27798,27799,Uzbekistan,2013,female,15-24 years,323,57690453461,2150,Millenials
47055,27799,27800,Uzbekistan,2013,male,15-24 years,320,57690453461,2150,Millenials
47056,27800,27801,Uzbekistan,2013,male,55-74 years,119,57690453461,2150,Boomers
47057,27801,27802,Uzbekistan,2013,male,75+ years,13,57690453461,2150,Silent
47058,27802,27803,Uzbekistan,2013,female,25-34 years,146,57690453461,2150,Millenials
47059,27803,27804,Uzbekistan,2013,female,35-54 years,99,57690453461,2150,Generation X
47060,27804,27805,Uzbekistan,2013,female,75+ years,8,57690453461,2150,Silent
47061,27805,27806,Uzbekistan,2013,male,5-14 years,61,57690453461,2150,Generation Z
47062,27806,27807,Uzbekistan,2013,female,55-74 years,21,57690453461,2150,Boomers
47063,27807,27808,Uzbekistan,2013,female,5-14 years,31,57690453461,2150,Generation Z
47064,27808,27809,Uzbekistan,2014,male,35-54 years,519,63067077179,2309,Generation X
47065,27809,27810,Uzbekistan,2014,male,25-34 years,318,63067077179,2309,Millenials
47066,27810,27811,Uzbekistan,2014,female,15-24 years,347,63067077179,2309,Millenials
47067,27811,27812,Uzbekistan,2014,male,55-74 years,144,63067077179,2309,Boomers
47068,27812,27813,Uzbekistan,2014,male,15-24 years,347,63067077179,2309,Millenials
47069,27813,27814,Uzbekistan,2014,male,75+ years,17,63067077179,2309,Silent
47070,27814,27815,Uzbekistan,2014,female,25-34 years,162,63067077179,2309,Millenials
47071,27815,27816,Uzbekistan,2014,female,35-54 years,107,63067077179,2309,Generation X
47072,27816,27817,Uzbekistan,2014,female,75+ years,9,63067077179,2309,Silent
47073,27817,27818,Uzbekistan,2014,male,5-14 years,60,63067077179,2309,Generation Z
47074,27818,27819,Uzbekistan,2014,female,5-14 years,44,63067077179,2309,Generation Z
47075,27819,27820,Uzbekistan,2014,female,55-74 years,21,63067077179,2309,Boomers