In [2]:

#from __future__ import print_function
from flask import Flask
# from config import api_key 

import pandas as pd
import numpy as numpy

import sqlalchemy
from sqlalchemy.ext.automap import automap_base
from sqlalchemy.orm import Session
from sqlalchemy import create_engine 

from flask import Flask, jsonify, render_template
from flask_sqlalchemy import SQLAlchemy

import requests 
import json
from config import api_key
from config import google_api_key
import scipy.stats as stats
from scipy.stats import sem, ttest_ind, linregress

In [4]:
POSTGRES = {
'user': 'postgres',
'pw': api_key,
'db': 'suicide_rates_overview_db',
'host': 'localhost',
'port': '5432',
}

engine = create_engine('postgresql://%(user)s:%(pw)s@%(host)s:%(port)s/%(db)s'% POSTGRES)
df_suicide_rates_df = pd.read_sql('select * from suicides_rates_db', con=engine)
year_suicide_rates_df = df_suicide_rates_df.groupby(["year", 'country']).agg({"suicides_no": "mean"})
year_suicide_rates_df = year_suicide_rates_df.sort_values(by='suicides_no', ascending=False)
year_suicide_rates_df = year_suicide_rates_df.reset_index()
year_suicide_rates_df.head()

   year             country  suicides_no
0  1994  Russian Federation  5118.333333
1  1995  Russian Federation  5045.666667
2  1996  Russian Federation  4792.583333
3  1999  Russian Federation  4747.833333
4  2001  Russian Federation  4746.500000

In [16]:
russianfederation = year_suicide_rates_df.loc[year_suicide_rates_df['country'] == 'Russian Federation']
russianfederation.head()
year = russianfederation['year']
year.head()
russianfederationsuicideno = russianfederation['suicides_no']
russianfederationsuicideno.head()
linregress(year, russianfederationsuicideno)

LinregressResult(slope=-75.02757427757426, intercept=153938.97530864194, rvalue=-0.6340825889686899, pvalue=0.0003830497155472215, stderr=18.299263528703346)

In [22]:
us = year_suicide_rates_df.loc[year_suicide_rates_df['country'] == 'United States']
us.head()
year = us['year']
year.head()
ussuicideno = us['suicides_no']
ussuicideno.head()
linregress(year, ussuicideno)

LinregressResult(slope=32.86216397849463, intercept=-62944.72311827959, rvalue=0.8326902763575907, pvalue=6.2569259984995926e-09, stderr=4.058063092609682)

In [24]:
japan = year_suicide_rates_df.loc[year_suicide_rates_df['country'] == 'Japan']
japan.head()
year = japan['year']
year.head()
japansuicideno = japan['suicides_no']
japansuicideno.head()
linregress(year, japansuicideno)

LinregressResult(slope=21.205880376344084, intercept=-40242.669354838705, rvalue=0.5525213680209462, pvalue=0.0012682814486798363, stderr=5.940365590727109)

In [27]:
korea = year_suicide_rates_df.loc[year_suicide_rates_df['country'] == 'Republic of Korea']
korea.head()
year = korea['year']
year.head()
koreasuicideno = korea['suicides_no']
koreasuicideno.head()
linregress(year, koreasuicideno)

LinregressResult(slope=40.01854838709677, intercept=-79333.52150537634, rvalue=0.9535557467325387, pvalue=1.1850922358453356e-16, stderr=2.3474434621915607)

In [28]:
ukraine = year_suicide_rates_df.loc[year_suicide_rates_df['country'] == 'Ukraine']
ukraine.head()
year = ukraine['year']
year.head()
ukrainesuicideno = ukraine['suicides_no']
ukrainesuicideno.head()
linregress(year, ukrainesuicideno)

LinregressResult(slope=-11.00865866626158, intercept=22975.84013747531, rvalue=-0.48736299272618716, pvalue=0.008525886214444223, stderr=3.8681975618162165)

In [14]:
russianfederationsuicideno = russianfederation['suicides_no']
russianfederationsuicideno.head()

0    5118.333333
1    5045.666667
2    4792.583333
3    4747.833333
4    4746.500000
Name: suicides_no, dtype: float64

In [15]:
linregress(year, russianfederationsuicideno)

LinregressResult(slope=-75.02757427757426, intercept=153938.97530864194, rvalue=-0.6340825889686899, pvalue=0.0003830497155472215, stderr=18.299263528703346)

In [35]:
    POSTGRES = {
    'user': 'postgres',
    'pw': api_key,
    'db': 'suicide_rates_overview_db',
    'host': 'localhost',
    'port': '5432',
    }



    engine = create_engine('postgresql://%(user)s:%(pw)s@%(host)s:%(port)s/%(db)s'% POSTGRES)
    df_suicide_rates_df = pd.read_sql('select * from suicide_rates_db', engine)
    df_suicide_rates_df.head()

,id,country,year,sex,age,suicides_no,population,suicideshundredk,country_year,hdiforyear,gdp_for_year,gdp_per_capita,generation
0,1,Albania,1987,male,15-24 years,21,312900,6.71,Albania1987,NaN,2156624900,796,Generation X
1,2,Albania,1987,male,35-54 years,16,308000,5.19,Albania1987,NaN,2156624900,796,Silent
2,3,Albania,1987,female,15-24 years,14,289700,4.83,Albania1987,NaN,2156624900,796,Generation X
3,4,Albania,1987,male,75+ years,1,21800,4.59,Albania1987,NaN,2156624900,796,G.I. Generation
4,5,Albania,1987,male,25-34 years,9,274300,3.28,Albania1987,NaN,2156624900,796,Boomers

In [2]:
    POSTGRES = {
    'user': 'postgres',
    'pw': api_key,
    'db': 'suicide_rates_overview_db',
    'host': 'localhost',
    'port': '5432',
    }



    engine = create_engine('postgresql://%(user)s:%(pw)s@%(host)s:%(port)s/%(db)s'% POSTGRES)
    df_suicide_rates_df = pd.read_sql('select * from suicides_rates_db', engine)
    df_suicide_rates_df

    continent_coordinates = requests.get("http://techslides.com/demos/country-capitals.json")
    continent_df = pd.read_json(json.dumps(continent_coordinates.json()), orient= 'list')
    continent_df["ContinentName"] = continent_df["ContinentName"].str.replace(" ", "")
    continent_df

    combined_data =df_suicide_rates_df.merge(continent_df, left_on ="country", right_on='CountryName')
    combined_data


    combined_data = combined_data[['ContinentName', 'sex', 'suicides_no', 'CapitalLatitude', 'CapitalLongitude']]
    combined_data



    combined_data['suicides_no'] = pd.to_numeric(combined_data['suicides_no'], errors='coerce')
    combined_data['CapitalLatitude'] = pd.to_numeric(combined_data['CapitalLatitude'], errors='coerce')
    combined_data['CapitalLongitude'] = pd.to_numeric(combined_data['CapitalLongitude'], errors='coerce')
    combined_data = combined_data.dropna()
    combined_data


    continent_pic_file = pd.read_csv("Data/Continents_Images.csv")
    continent_pic_file

    combined_data =combined_data.merge(continent_pic_file, left_on ="ContinentName", right_on='Continent')
    combined_data


        

    combined_data_by_continent = combined_data.groupby(['ContinentName', 'sex', "ImageURL"]).agg({'suicides_no' : 'sum', 'CapitalLongitude': 'mean', 'CapitalLatitude': 'mean'})


    combined_data_by_continent = combined_data_by_continent.reset_index()    
 
combined_data_by_continent

,ContinentName,sex,ImageURL,suicides_no,CapitalLongitude,CapitalLatitude
0,Africa,female,https://upload.wikimedia.org/wikipedia/commons...,5212,45.369014,-21.998885
1,Africa,male,https://upload.wikimedia.org/wikipedia/commons...,17414,46.866568,-19.714250
2,Asia,female,https://svgsilh.com/svg/151642-ffeb3b.svg,675656,81.385054,28.916514
3,Asia,male,https://svgsilh.com/svg/151642-ffeb3b.svg,1678524,79.583352,28.735387
4,Australia,female,https://www.wpclipart.com/geography/continents...,37564,163.628416,-35.114333
5,Australia,male,https://www.wpclipart.com/geography/continents...,132138,164.085967,-33.733255
6,Europe,female,https://encrypted-tbn0.gstatic.com/images?q=tb...,1055158,15.219409,48.968883
7,Europe,male,https://encrypted-tbn0.gstatic.com/images?q=tb...,3376618,15.126587,48.850518
8,NorthAmerica,female,https://svgsilh.com/svg_v2/307195.svg,27356,-69.361378,17.157964
9,NorthAmerica,male,https://svgsilh.com/svg_v2/307195.svg,83312,-68.378670,16.787286
10,SouthAmerica,female,https://upload.wikimedia.org/wikipedia/commons...,194838,-62.445395,-14.921987
11,SouthAmerica,male,https://upload.wikimedia.org/wikipedia/commons...,699122,-62.301286,-14.693044

In [3]:
selected_columns = combined_data_by_continent[['ContinentName','sex', 'suicides_no']]
selected_columns = selected_columns.sort_values(by='suicides_no', ascending=False)
selected_columns

   ContinentName     sex  suicides_no
7         Europe    male      3376618
3           Asia    male      1678524
6         Europe  female      1055158
11  SouthAmerica    male       699122
2           Asia  female       675656
10  SouthAmerica  female       194838
5      Australia    male       132138
9   NorthAmerica    male        83312
4      Australia  female        37564
8   NorthAmerica  female        27356
1         Africa    male        17414
0         Africa  female         5212

t test for gender

In [4]:
femaleincontinent = selected_columns.loc[combined_data_by_continent['sex'] == 'female']
femaleincontinent = femaleincontinent.sort_values(by='suicides_no', ascending=False)
femaleincontinent

   ContinentName     sex  suicides_no
6         Europe  female      1055158
2           Asia  female       675656
10  SouthAmerica  female       194838
4      Australia  female        37564
8   NorthAmerica  female        27356
0         Africa  female         5212

In [5]:
femaleincontinentsum = femaleincontinent.sum()
femaleincontinentsum

ContinentName    EuropeAsiaSouthAmericaAustraliaNorthAmericaAfrica
sex                           femalefemalefemalefemalefemalefemale
suicides_no                                                1995784
dtype: object

In [6]:
maleincontinent = selected_columns.loc[selected_columns['sex'] == 'male']
maleincontinent = maleincontinent.sort_values(by='suicides_no', ascending=False)
maleincontinent

   ContinentName   sex  suicides_no
7         Europe  male      3376618
3           Asia  male      1678524
11  SouthAmerica  male       699122
5      Australia  male       132138
9   NorthAmerica  male        83312
1         Africa  male        17414

In [7]:
maleincontinentsum = maleincontinent.sum()

In [8]:
femalepercentage = (femaleincontinentsum / (femaleincontinentsum + maleincontinentsum)) * 100
femalepercentage

TypeError: unsupported operand type(s) for /: 'str' and 'str'

In [ ]:
malepercentage = (maleincontinentsum / (femaleincontinentsum + maleincontinentsum)) * 100
malepercentage

In [ ]:
stats.ttest_ind(femaleincontinent, maleincontinent, equal_var=False)

t test country

In [6]:

POSTGRES = {
'user': 'postgres',
'pw': api_key,
'db': 'suicide_rates_overview_db',
'host': 'localhost',
'port': '5432',
}



engine = create_engine('postgresql://%(user)s:%(pw)s@%(host)s:%(port)s/%(db)s'% POSTGRES)

df_suicide_rates_df = pd.read_sql('select * from suicides_rates_db', engine)
df_suicide_rates_df
countries_coordinates = requests.get("http://techslides.com/demos/country-capitals.json")
countries_df = pd.read_json(json.dumps(countries_coordinates.json()), orient= 'list')
flag_file = pd.read_csv("Data/Country_Flags.csv")
flag_file["Country"] = flag_file["Country"].str.replace(" ", "")
combined_data =df_suicide_rates_df.merge(countries_df, left_on ="country", right_on='CountryName')
combined_data2 = combined_data.merge(flag_file, left_on='country', right_on='Country')
combined_data2
combined_data = combined_data2[['Country', 'sex', 'suicides_no', 'CapitalLatitude', 'CapitalLongitude', 'ContinentName', "Images File Name", "ImageURL"]]
combined_data
combined_data.to_json()
combined_data['suicides_no'] = pd.to_numeric(combined_data['suicides_no'], errors='coerce')
combined_data['CapitalLatitude'] = pd.to_numeric(combined_data['CapitalLatitude'], errors='coerce')
combined_data['CapitalLongitude'] = pd.to_numeric(combined_data['CapitalLongitude'], errors='coerce')
combined_data = combined_data.dropna()
combined_data_by_country = combined_data.groupby(['ContinentName', 'Country', 'sex', "Images File Name", "ImageURL"]).agg({'suicides_no' : 'sum', 'CapitalLongitude': 'mean', 'CapitalLatitude': 'mean'})
combined_data_by_country = combined_data_by_country.reset_index()    
#     suicide_by_country = combined_data_by_country.to_json(orient='records', index=True)
#     suicide_by_country
combined_data_by_country.head()

C:\Users\Carol\Anaconda3\envs\PythonData\lib\site-packages\ipykernel_launcher.py:26: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
C:\Users\Carol\Anaconda3\envs\PythonData\lib\site-packages\ipykernel_launcher.py:27: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
C:\Users\Carol\Anaconda3\envs\PythonData\lib\site-packages\ipykernel_launcher.py:28: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy

,ContinentName,Country,sex,Images File Name,ImageURL,suicides_no,CapitalLongitude,CapitalLatitude
0,Africa,Mauritius,female,Flag_of_Mauritius.svg,https://upload.wikimedia.org/wikipedia/commons...,1990,57.483333,-20.150000
1,Africa,Mauritius,male,Flag_of_Mauritius.svg,https://upload.wikimedia.org/wikipedia/commons...,5798,57.483333,-20.150000
2,Africa,Seychelles,female,Flag_of_Seychelles.svg,https://upload.wikimedia.org/wikipedia/commons...,18,55.450000,-4.616667
3,Africa,Seychelles,male,Flag_of_Seychelles.svg,https://upload.wikimedia.org/wikipedia/commons...,178,55.450000,-4.616667
4,Asia,Bahrain,female,Flag_of_Bahrain.svg,https://upload.wikimedia.org/wikipedia/commons...,160,50.566667,26.233333

In [7]:
selected_columns2 = combined_data_by_country[['ContinentName', 'Country', 'sex', 'suicides_no', ]]
selected_columns2.head()

  ContinentName     Country     sex  suicides_no
0        Africa   Mauritius  female         1990
1        Africa   Mauritius    male         5798
2        Africa  Seychelles  female           18
3        Africa  Seychelles    male          178
4          Asia     Bahrain  female          160

In [8]:
Africa = selected_columns2.loc[selected_columns2['ContinentName'] == 'Africa']
Africa
# Africa = Africa[['suicides_no']]

# Europe = selected_columns2.loc[selected_columns2['ContinentName'] == 'Europe']
# Europe = Europe[['suicides_no']]

# Asia = selected_columns2.loc[selected_columns2['ContinentName'] == 'Asia']
# Asia = Asia[['suicides_no']]

# Australia = selected_columns2.loc[selected_columns2['ContinentName'] == 'Australia']
# Australia = Australia[['suicides_no']]

# North_America = selected_columns2.loc[selected_columns2['ContinentName'] == 'North America']
# North_America = North_America[['suicides_no']]

# South_America = selected_columns2.loc[selected_columns2['ContinentName'] == 'South America']
# South_America = group6[['suicides_no']]

  ContinentName     Country     sex  suicides_no
0        Africa   Mauritius  female         1990
1        Africa   Mauritius    male         5798
2        Africa  Seychelles  female           18
3        Africa  Seychelles    male          178

In [9]:
# Perform the ANOVA
stats.f_oneway(Africa, Europe, Asia, Australia, North_America, South_America)

NameError: name 'Europe' is not defined

In [ ]:
selected_column2 = combined_data_by_country[['sex', 'suicides_no']]

In [ ]:
femaleincountry = selected_column2.loc[selected_column2['sex'] == 'female']
femaleincountry = femaleincountry[['suicides_no']]
femaleincountry.head()

In [ ]:
femaleincountrysum = femaleincountry.sum()

In [ ]:
maleincountry = selected_column2.loc[selected_column2['sex'] == 'male']
maleincountry = maleincountry[['suicides_no']]
maleincountry.head()

In [ ]:
maleincountrysum = maleincountry.sum()

In [ ]:
femaleincountrypercentage = (femaleincountrysum / (femaleincountrysum + maleincountrysum)) * 100
femaleincountrypercentage

In [ ]:
maleincountrypercentage = (maleincountrysum / (femaleincountrysum + maleincountrysum)) * 100
maleincountrypercentage

In [ ]:
stats.ttest_ind(femaleincountry, maleincountry, equal_var=False)

regression for population

In [9]:

POSTGRES = {
'user': 'postgres',
'pw': api_key,
'db': 'suicide_rates_overview_db',
'host': 'localhost',
'port': '5432',
}



engine = create_engine('postgresql://%(user)s:%(pw)s@%(host)s:%(port)s/%(db)s'% POSTGRES)
df_suicide_rates_df = pd.read_sql('select * from suicide_rates_db', engine)
df_suicide_rates_df.head()



continent_coordinates = requests.get("http://techslides.com/demos/country-capitals.json")
continent_df = pd.read_json(json.dumps(continent_coordinates.json()), orient= 'list')
continent_df["ContinentName"] = continent_df["ContinentName"].str.replace(" ", "")
continent_df

combined_data =df_suicide_rates_df.merge(continent_df, left_on ="country", right_on='CountryName')
combined_data


combined_data = combined_data[['ContinentName', 'country', 'year', 'suicides_no', 'population', 'CapitalLatitude', 'CapitalLongitude']]
combined_data.head()



combined_data['suicides_no'] = pd.to_numeric(combined_data['suicides_no'], errors='coerce')
combined_data['CapitalLatitude'] = pd.to_numeric(combined_data['CapitalLatitude'], errors='coerce')
combined_data['CapitalLongitude'] = pd.to_numeric(combined_data['CapitalLongitude'], errors='coerce')
combined_data = combined_data.dropna()
combined_data


continent_pic_file = pd.read_csv("Data/Continents_Images.csv")
continent_pic_file

combined_data =combined_data.merge(continent_pic_file, left_on ="ContinentName", right_on='Continent')
combined_data


combined_data_by_continent = combined_data.groupby(['ContinentName', 'country']).agg({'suicides_no' : 'mean', 'population': 'mean'})
combined_data_by_continent
combined_data_by_continent = combined_data_by_continent.round(0)

combined_data_by_continent = combined_data_by_continent.reset_index()
combined_data_by_continent.head()
# populationandsuicide = combined_data_by_continent.to_json(orient='records', index=True)
# populationandsuicide

  ContinentName       country  suicides_no  population
0        Africa     Mauritius         10.0     87466.0
1        Africa    Seychelles          0.0      6448.0
2        Africa  South Africa         31.0   3638045.0
3          Asia       Bahrain          2.0     66484.0
4          Asia        Israel         30.0    465247.0

In [10]:
africacontinent= combined_data_by_continent.loc[combined_data_by_continent['ContinentName'] == 'Africa']
africacontinent

  ContinentName       country  suicides_no  population
0        Africa     Mauritius         10.0     87466.0
1        Africa    Seychelles          0.0      6448.0
2        Africa  South Africa         31.0   3638045.0

In [11]:
suicide_no_africa = africacontinent['suicides_no']

In [12]:
population_africa = africacontinent['population']

In [13]:
linregress(suicide_no_africa, population_africa)

LinregressResult(slope=125134.38482023968, intercept=-466183.59254327556, rvalue=0.9547456863871097, pvalue=0.1922545737229231, stderr=38981.99674034027)

In [14]:
Asiacontinent= combined_data_by_continent.loc[combined_data_by_continent['ContinentName'] == 'Asia']
Asiacontinent.head()

  ContinentName     country  suicides_no  population
3          Asia     Bahrain          2.0     66484.0
4          Asia      Israel         30.0    465247.0
5          Asia       Japan       2169.0   9895228.0
6          Asia  Kazakhstan        325.0   1209980.0
7          Asia      Kuwait          3.0    190367.0

In [15]:
suicide_no_asia = Asiacontinent['suicides_no']

In [16]:
population_asia = Asiacontinent['population']

In [17]:
linregress(suicide_no_asia, population_asia)

LinregressResult(slope=4409.2800644905465, intercept=643281.0845822954, rvalue=0.8419375746233908, pvalue=1.1781346215888804e-05, stderr=706.4469850813318)

In [18]:
Australiacontinent= combined_data_by_continent.loc[combined_data_by_continent['ContinentName'] == 'Australia']
Australiacontinent.head()

   ContinentName      country  suicides_no  population
21     Australia    Australia        195.0   1506605.0
22     Australia         Fiji          2.0     62026.0
23     Australia     Kiribati          0.0      5618.0
24     Australia  New Zealand         41.0    296237.0

In [19]:
suicide_no_australia = Australiacontinent['suicides_no']

In [20]:
population_australia = Australiacontinent['population']

In [21]:
linregress(suicide_no_australia, population_australia)

LinregressResult(slope=7623.148733805629, intercept=14044.150338565116, rvalue=0.999293312864103, pvalue=0.000706687135897055, stderr=202.7581237873064)

In [22]:
southamericacontinent= combined_data_by_continent.loc[combined_data_by_continent['ContinentName'] == 'SouthAmerica']
southamericacontinent.head()

   ContinentName    country  suicides_no  population
79  SouthAmerica  Argentina        221.0   2784907.0
80  SouthAmerica     Brazil        609.0  13054015.0
81  SouthAmerica      Chile        110.0   1149530.0
82  SouthAmerica   Colombia        143.0   2978339.0
83  SouthAmerica    Ecuador         56.0    925613.0

In [23]:


suicides_no_southamerica = southamericacontinent['suicides_no']

In [24]:
population_southamerica = southamericacontinent['population']

In [25]:
linregress(suicides_no_southamerica, population_southamerica)

LinregressResult(slope=21313.24476541376, intercept=-463529.35179451713, rvalue=0.9865805842987864, pvalue=9.097559549129612e-07, stderr=1333.1772212130659)

In [26]:
northamericacontinent= combined_data_by_continent.loc[combined_data_by_continent['ContinentName'] == 'NorthAmerica']
northamericacontinent.head()

   ContinentName              country  suicides_no  population
67  NorthAmerica  Antigua and Barbuda          0.0      6143.0
68  NorthAmerica                Aruba          1.0      7498.0
69  NorthAmerica              Bahamas          0.0     23757.0
70  NorthAmerica             Barbados          1.0     20712.0
71  NorthAmerica                 Cuba        144.0    874271.0

In [27]:
suicides_no_northamerica = northamericacontinent['suicides_no']

In [28]:
population_northamerica = northamericacontinent['population']

In [29]:
linregress(suicides_no_northamerica, population_northamerica)

LinregressResult(slope=5932.225874526076, intercept=36843.03659060015, rvalue=0.9703067550956793, pvalue=1.729512944165e-07, stderr=467.6321668957776)

In [30]:
europecontinent= combined_data_by_continent.loc[combined_data_by_continent['ContinentName'] == 'Europe']
europecontinent.head()

   ContinentName     country  suicides_no  population
25        Europe     Albania          7.0    236081.0
26        Europe     Armenia          6.0    259558.0
27        Europe     Austria        131.0    638359.0
28        Europe  Azerbaijan          9.0    582241.0
29        Europe     Belarus        238.0    783223.0

In [31]:
suicides_no_europe = europecontinent['suicides_no']

In [32]:
population_europe = europecontinent['population']

In [33]:
linregress(suicides_no_europe, population_europe)

LinregressResult(slope=5645.075137082897, intercept=324280.9574435038, rvalue=0.7958303180465162, pvalue=2.9971213928133495e-10, stderr=679.1215735865512)

In [31]:

POSTGRES = {
'user': 'postgres',
'pw': api_key,
'db': 'suicide_rates_overview_db',
'host': 'localhost',
'port': '5432',
}



engine = create_engine('postgresql://%(user)s:%(pw)s@%(host)s:%(port)s/%(db)s'% POSTGRES)
df_suicide_rates_df = pd.read_sql('select * from suicide_rates_db', engine)
df_suicide_rates_df.head()



continent_coordinates = requests.get("http://techslides.com/demos/country-capitals.json")
continent_df = pd.read_json(json.dumps(continent_coordinates.json()), orient= 'list')
continent_df["ContinentName"] = continent_df["ContinentName"].str.replace(" ", "")
continent_df

combined_data =df_suicide_rates_df.merge(continent_df, left_on ="country", right_on='CountryName')
combined_data


combined_data = combined_data[['ContinentName', 'country', 'suicides_no', 'gdp_per_capita', 'CapitalLatitude', 'CapitalLongitude']]
combined_data.head()



combined_data['suicides_no'] = pd.to_numeric(combined_data['suicides_no'], errors='coerce')
combined_data['CapitalLatitude'] = pd.to_numeric(combined_data['CapitalLatitude'], errors='coerce')
combined_data['CapitalLongitude'] = pd.to_numeric(combined_data['CapitalLongitude'], errors='coerce')
combined_data = combined_data.dropna()
combined_data


continent_pic_file = pd.read_csv("Data/Continents_Images.csv")
continent_pic_file

combined_data =combined_data.merge(continent_pic_file, left_on ="ContinentName", right_on='Continent')
combined_data


combined_data_by_continent = combined_data.groupby(['ContinentName', 'country', 'CapitalLatitude', 'CapitalLongitude']).agg({'suicides_no' : 'mean', 'gdp_per_capita': 'mean'})
combined_data_by_continent
combined_data_by_continent = combined_data_by_continent.round(0)
combined_data_by_continent
gdpandsuicide = combined_data_by_continent.reset_index()    
#     gdpandsuicide = combined_data_by_continent.to_json(orient='records', index=True)
gdpandsuicide.head()

,ContinentName,country,CapitalLatitude,CapitalLongitude,suicides_no,gdp_per_capita
0,Africa,Mauritius,-20.150000,57.483333,10.0,5507.0
1,Africa,Seychelles,-4.616667,55.450000,0.0,10656.0
2,Africa,South Africa,-25.700000,28.216667,31.0,5590.0
3,Asia,Bahrain,26.233333,50.566667,2.0,18040.0
4,Asia,Israel,31.766667,35.233333,30.0,23125.0

In [36]:
Africa = gdpandsuicide.loc[gdpandsuicide['ContinentName'] == 'Africa']
Africa.head()
AfricaGDP = Africa['gdp_per_capita']
AfricaGDP.head()
Africasuicideno = Africa['suicides_no']
Africasuicideno.head()
linregress(AfricaGDP, Africasuicideno)

LinregressResult(slope=-0.003962808435456716, intercept=42.400990632163314, rvalue=-0.7386428357989384, pvalue=0.4709340669282059, stderr=0.0036165209162671496)

In [37]:
Asia = gdpandsuicide.loc[gdpandsuicide['ContinentName'] == 'Asia']
Asia.head()
AsiaGDP = Asia['gdp_per_capita']
AsiaGDP.head()
Asiasuicideno = Asia['suicides_no']
Asiasuicideno.head()
linregress(AsiaGDP, Asiasuicideno)

LinregressResult(slope=0.0033804836248650036, intercept=145.06464327769737, rvalue=0.125544035387102, pvalue=0.619632617005978, stderr=0.006678408477707383)

In [38]:
Europe = gdpandsuicide.loc[gdpandsuicide['ContinentName'] == 'Europe']
Europe.head()
EuropeGDP = Europe['gdp_per_capita']
EuropeGDP.head()
Europesuicideno = Europe['suicides_no']
Europesuicideno.head()
linregress(EuropeGDP, Europesuicideno)

LinregressResult(slope=-0.0002697032190886944, intercept=168.64446305343466, rvalue=-0.02058776317690448, pvalue=0.897032436305714, stderr=0.002070879895294084)

In [43]:
southamerica = gdpandsuicide.loc[gdpandsuicide['ContinentName'] == 'SouthAmerica']
southamerica.head()
southamericaGDP = southamerica['gdp_per_capita']
southamericaGDP.head()
southamericasuicideno = southamerica['suicides_no']
southamericasuicideno.head()
linregress(southamericaGDP, southamericasuicideno)

LinregressResult(slope=0.03038453578778187, intercept=-15.81721320473281, rvalue=0.3786763575333175, pvalue=0.3149049927856854, stderr=0.028068906796959513)

In [44]:
northamerica = gdpandsuicide.loc[gdpandsuicide['ContinentName'] == 'NorthAmerica']
northamerica.head()
northamericaGDP = northamerica['gdp_per_capita']
northamericaGDP.head()
northamericasuicideno = northamerica['suicides_no']
northamericasuicideno.head()
linregress(northamericaGDP, northamericasuicideno)

LinregressResult(slope=-0.0009936857693856967, intercept=25.816635393204983, rvalue=-0.1962833319651283, pvalue=0.5409278465247496, stderr=0.0015697632664352552)

In [45]:
Australia = gdpandsuicide.loc[gdpandsuicide['ContinentName'] == 'Australia']
Australia.head()
AustraliaGDP = Australia['gdp_per_capita']
AustraliaGDP.head()
Australiasuicideno = Australia['suicides_no']
Australiasuicideno.head()
linregress(AustraliaGDP, Australiasuicideno)

LinregressResult(slope=0.005426691036613096, intercept=-21.68872459876853, rvalue=0.8926974870888309, pvalue=0.10730251291116909, stderr=0.0019371414552621067)